body {
    background-color: #f8f9fa; /* Light grey background */
    padding-top: 20px;
}

.bars-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 500px; /* Height of the container */
}

.bar {
    width: 4px; /* Width of each bar */
    margin: 0 1px;
    background-color: #007bff; /* Blue color for bars */
}

.navbar {
    margin-bottom: 20px;
}

/* Highlighting colors for comparison and sorted bars */
.bar.compare {
    background-color: #ff4136 !important; /* Red color for comparison */
}

.bar.sorted {
    background-color: #28a745 !important; /* Green color for sorted bars */
}

.bars-options {
    margin-left: 20px;
}
